%h1== #{example["resource"]} API
.article
  %h2= example["description"]

  - if example["explanation"]
    %p.explanation
      = example["explanation"]

  - if example["parameters"].count > 0
    %h3 Parameters
    %table.parameters
      %thead
        %tr
          %th Name
          %th Description
      %tbody
        - example["parameters"].each do |param|
          %tr.parameter
            %td
              %span.name= param["name"]
            %td
              %span.description= param["description"]

  - example["requests"].each_with_index do |request, index|
    .request{ :id => "request-#{index}" }
      %h3 Request

      %section.headers
        %h4 Headers
        %pre.headers= request["request_headers"]

      %section.route
        %h4 Route
        %pre.route.highlight== #{request["request_method"]} #{request["request_path"]}

      - if request["request_query_parameters"]
        %section.query-parameters
          %h4 Query Parameters
          %pre.query-parameters.highlight= request["request_query_parameters"]

      - if request["request_body"]
        %section.body
          %h4 Body
          .body
            :preserve
              #{request["request_body"]}

      - if request["curl"]
        %section.curl
          %h4 cURL
          %pre= request["curl"]

      - if request["response_status"]
        .response
          %h3 Response

          %section.headers
            %h4 Headers
            %pre.headers= request["response_headers"]

          %section.status
            %h4 Status
            %pre.status= request["response_status"]

          - if request["response_body"]
            %section.body
              %h4 Body
              .body
                :preserve
                  #{request["response_body"]}
