%h1= api_name

%h2 Guides
%ul.guides
  - guides.each do |guide|
    %li.guide
      = link_to guide.title, "/#{guide.href}"

- index.resources.each do |resource|
  .resource
    %h2= resource.name
    %ul.examples
      - resource.examples.each do |example|
        %li.example
          = link_to example.description, "/#{example.href}"
